node_modules
yarn.lock
yarn-error.lock
.next
.vercel
.cursor
.env.local

.swc
package-lock.json

.DS_Store
app/.DS_Store
app/components/.DS_Store
pages/.DS_Store
public/.DS_Store
styles/.DS_Store
templates/.DS_Store
lib/.DS_Store
lib/hooks/.DS_Store
lib/utils/.DS_Store
